<div class="row">
  <div class="col-md-6">
    <h2>This is the Dashboard homepage</h2>
    <ul>
      <li>This is the file <code>./home.component.ts|html</code>.</li>
      <li>
        Pick one of the items above to route to different micro-apps.
      </li>
      <li>
        You can add files and components to the home application (e.g. the <code>./navbar</code> application) and adjust
        the
        routing table in <code>./app-routing.module.ts</code>.
      </li>
    </ul>

  </div>
  <div class="col-md-6">

    <img [src]="computerUrl" class="img-fluid" alt="computer with dashboard"/>
    <p class="text-center text-muted">Photo by Carlos Muza on Unsplash</p>
  </div>
</div>
